footer
    margin-top 120px
    +tablet()
        margin-top 80px
    +mobile()
        margin-top 40px
    .atendimento
        background $laranja
        .center
            padding 40px 0
            padding-left 390px
        .operario
            width 201px
            height 180px
            position absolute
            left 105px
            bottom 0
            background $img('img-operario.png') no-repeat center
        p
            margin 0
            montserrat 22 semi
            color $cinza
            line-height 1.2
            span
                display block
                &:first-child
                    color #fff
        +tablet()
            .center
                padding-left 230px
            .operario
                left 0
            p
                font-size 18px
                span + span
                    margin-top 4px
        +mobile()
            .center
                padding 25px 0
            .operario
                display none
            p
                font-size 15px
                span + span
                    margin-top 4px
    .informacoes
        background $cinza
        padding 30px 0
        .center
            display flex
            +mobile()
                display block
        .sobre
            max-width 270px
            +mobile()
                max-width 100%
            img
                display block
            p
                opensans 12
                margin 20px 0
                color #fff
            .social
                font-size 0
                a
                    display inline-block
                    width 24px
                    height 24px
                    transition background .3s
                    background-repeat no-repeat
                    background-position left top
                    &.instagram
                        background-image $img('ico-instagram.png')
                    &.facebook
                        background-image $img('ico-facebook.png')
                    &.linkedin
                        background-image $img('ico-linkedin-rodape.png')
                    + a
                        margin-left 5px
                    &:hover
                        background-position left bottom
        .links
            border-left 1px solid rgba(#000, .3)
            border-right 1px solid rgba(#000, .3)
            margin 0 45px
            padding 0 45px
            display flex
            justify-content center
            flex-direction column
            a
                display block
                white-space nowrap
                opensans 17
                color #fff
                &:hover
                    color $laranja
                + a
                    margin-top 14px
            +below($tablet)
                display none
        .informacoes-contato
            padding 30px 0
            +tablet()
                margin-left 55px
            +mobile()
                padding 0
                margin-top 35px
            form
                p
                    opensans 17
                    color #fff
                    margin 0 0 10px
                    +mobile()
                        font-size 15px
                .box
                    clearfix()
                    max-width 495px
                    input
                        width calc('100% - 50px')
                        background #fff
                        height 45px
                        opensans 14
                        color $cinza
                        border 0
                        outline 0
                        padding 0 10px
                        float left
                    button
                        width 45px
                        height 45px
                        background $img('setinha-marrom.png') no-repeat center $laranja
                        float left
                        margin-left 5px
                        border 0
                        outline 0
                        cursor pointer
                        transition background .3s
                        &:hover
                            background-color #fff
                    +mobile()
                        input
                            height 40px
                        button
                            height 40px
            h3
                opensans 17
                color #fff
                margin 2em 0 10px
                +mobile()
                    font-size 15px
            .telefone
            .whatsapp
                opensans 20 bold
                padding-left 40px
                color #fff
                background $img('ico-telefone-rodape.png') no-repeat left center
                margin 0
                + p
                    margin-top .5em
            .whatsapp
                background-image $img('ico-whatsapp-rodape.png')
                a:hover
                    color $laranja
            .email
                display block
                margin 12px 0
                opensans 16
                padding-left 40px
                color #fff
                background $img('ico-contato-rodape.png') no-repeat left center
                &:hover
                    color $laranja
                min-height 22px
                padding-top 1px
            .endereco
                margin 0
                opensans 14
                padding-left 40px
                padding-top 2px
                color #fff
                background $img('ico-endereco.png') no-repeat 5px center
                min-height 30px
            +mobile()
                .telefone
                .whatsapp
                    font-size 18px
                    min-height 30px
                .email
                    font-size 15px
                .endereco
                    font-size 13px
                    padding-top 4px
    .copyright
        background #353C3F
        padding 10px 0
        text-align center
        p
            opensans 10
            margin 0
            color #fff
            a:hover
                color $laranja
            +mobile()
                span
                    display block
