header.desktop
    &.home
        display none
    +below($tablet)
        display none
    .barra-superior
        width 100%
        height 56px
        background #fff
        .center
            display flex
            align-items center
            justify-content flex-end
            height 100%
            .telefone
            .whatsapp
                opensans 13 bold
                padding-left 22px
                background $img('ico-telefone.png') no-repeat left center
                background-size 16px auto
                cursor default
                margin 0
                + p
                    margin-left 10px
            .whatsapp
                background-image $img('ico-whatsapp.png')
                a:hover
                    color $laranja
            .email
                opensans 13 bold
                padding-left 22px
                margin-left 22px
                background $img('ico-contato.png') no-repeat left center
                background-size 16px auto
                &:hover
                    color $laranja
    nav
        width 100%
        height 100px
        background $cinza
        position relative
        .center
            height 100%
            display flex
            align-items center
            padding-left 340px
            a
                opensans 18
                text-transform uppercase
                color #fff
                &:hover
                &.active
                    color $laranja
                + a
                    margin-left 30px
        .logo
            position absolute
            left 0
            bottom 0
            width 290px
            height 156px
            background $img('marca-level1.png') no-repeat center #fff
            background-size 190px auto
            z-index 2
            text-indent -9999px

header.mobile
    display none
    +below($tablet)
        display block
    .center
        height 100px
        display flex
    .logo
        width 150px
        height 100%
        background $img('marca-level1.png') no-repeat left center
        background-size 150px auto
        text-indent -9999px
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        .lines
            display block
            width 100%
            height 4px
            background $cinza
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $cinza
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

#nav-mobile
    +above($tablet)
        display none !important
    width 100%
    display none
    padding 25px 0
    position absolute
    z-index 102
    background $cinza
    text-align right
    left 0
    top 100px
    .center > a
        display block
        opensans 16
        text-transform uppercase
        color #fff
        &.active
            color $laranja
        + a
            margin-top 8px
    .social
        font-size 0
        margin-top 20px
        a
            display inline-block
            width 24px
            height 24px
            background-repeat no-repeat
            background-position left top
            &.instagram
                background-image $img('ico-instagram.png')
            &.facebook
                background-image $img('ico-facebook.png')
            &.linkedin
                background-image $img('ico-linkedin-rodape.png')
            + a
                margin-left 5px

.barra-superior
    .social
        font-size 0
        margin-right 20px
        a
            display inline-block
            width 16px
            height 16px
            transition background .3s
            background-repeat no-repeat
            background-position left top
            &.instagram
                background-image $img('ico-instagram-cabec.png')
            &.facebook
                background-image $img('ico-facebook-cabec.png')
            &.linkedin
                background-image $img('ico-linkedin-cabec.png')
            + a
                margin-left 3px
            &:hover
                background-position left bottom
