.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    padding-top 65px
    h1
        montserrat 36 semi
        color $laranja
        margin 0 0 .75em
        text-transform uppercase
        line-height 1
    +tablet()
        padding-top 40px
        h1
            font-size 32px
    +mobile()
        padding-top 25px
        h1
            font-size 24px
