.contato
    .center
        clearfix()
        h1
            float left
            display block
            width 100%
        .informacoes
            width 27.5%
            float left
            color $texto
            +below($tablet)
                width 100%
            .telefone
            .whatsapp
                montserrat 22 semi
                padding-left 40px
                background $img('ico-telefone.png') no-repeat left center
                margin 0
                +mobile()
                    font-size 20px
            .whatsapp
                background-image $img('ico-whatsapp.png')
                a:hover
                    color $laranja
            .atendimento
                opensans 16
                margin 1em 0 1.5em
                +mobile()
                    font-size 15px
            .email
                montserrat 16 semi
                padding-left 40px
                background $img('ico-contato.png') no-repeat left center
                margin 0
                &:hover
                    color $laranja
                +mobile()
                    font-size 14px
                    display block
                    min-height 18px
            .social
                font-size 0
                margin-top 40px
                +tablet()
                    margin-top 25px
                +mobile()
                    margin-top 20px
                a
                    display inline-block
                    width 32px
                    height 32px
                    transition background .3s
                    background-repeat no-repeat
                    background-position left top
                    &.instagram
                        background-image $img('ico-instagram-contato.png')
                    &.facebook
                        background-image $img('ico-facebook-contato.png')
                    &.linkedin
                        background-image $img('ico-linkedin-contato.png')
                    + a
                        margin-left 5px
        form
            width 66.25%
            float right
            +below($tablet)
                width 100%
                margin-top 40px
            +mobile()
                margin-top 30px
            p
                opensans 16
                color $texto
                margin 0 0 1em
                +mobile()
                    font-size 15px
            .flash
                width 100%
                margin-bottom 15px
                border-radius 4px
                montserrat 13 bold
                text-transform uppercase
                letter-spacing 1px
                color #fff
                padding 15px
                &.flash-erro
                    background $cinza
                &.flash-sucesso
                    background $laranja
                +mobile()
                    font-size 12px
            input[type=text]
            input[type=email]
            textarea
                display block
                width 100%
                outline 0
                border 0
                opensans 16
                font-style italic
                padding 0 10px
                background #E5E6E7
                margin-bottom 5px
                height 40px
                +mobile()
                    font-size 15px
            textarea
                padding 10px
                resize none
                height 180px
            input[type=submit]
                width 190px
                background $laranja
                opensans 16 bold
                padding 10px 0
                outline 0
                border 0
                font-style italic
                margin-top 5px
                border 2px solid $laranja
                transition background .3s
                cursor pointer
                &:hover
                    background #fff
