.no-blend-mode
    .box-laranja
        background rgba($laranja, .35) !important
        mix-blend-mode normal !important

.header-home
    width 100%
    height 630px
    position relative
    +tablet()
        height 480px
    +mobile()
        height 300px
    .logo
        width 100%
        height 285px
        position absolute
        top 0
        left 0
        z-index 102
        +below($tablet)
            display none
        .logo-box
            width 510px
            height 285px
            background $img('marca-level1.png') no-repeat center rgba(#fff, .75)
            text-indent -9999px
            margin-left 45px
        .barra-superior
            width auto
            height 56px
            display flex
            align-items center
            justify-content flex-end
            position absolute
            top 0
            right 0
            background rgba(#fff, .5)
            padding 0 20px
            .telefone
            .whatsapp
                opensans 13 bold
                padding-left 22px
                background $img('ico-telefone.png') no-repeat left center
                background-size 16px auto
                cursor default
                margin 0
                + p
                    margin-left 10px
            .whatsapp
                background-image $img('ico-whatsapp.png')
                a:hover
                    color $laranja
            .email
                opensans 13 bold
                padding-left 22px
                margin-left 22px
                background $img('ico-contato.png') no-repeat left center
                background-size 16px auto
                &:hover
                    color $laranja
    .banners
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        .slide
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            .center
                height 100%
                padding-top 340px
                +below($tablet)
                    padding-top 0
                    display flex
                    align-items center
            .box-laranja
                width 600px
                height calc('100% - 105px')
                position absolute
                background $laranja
                top 0
                left 0
                z-index -1
                mix-blend-mode multiply
                +below($tablet)
                    display none
            .texto
                color #fff
                text-shadow 0 1px 3px rgba(#000, .4)
                +above($tablet)
                    width 600px
                    padding-left 45px
                h1
                    montserrat 34 semi
                    margin 0
                    line-height 1.1
                h2
                    margin 10px 0 0
                    opensans 16
                    font-style italic
                    line-height 1.2
                +tablet()
                    h1
                        font-size 32px
                    h2
                        font-size 15px
                +mobile()
                    h1
                        font-size 22px
                    h2
                        font-size 14px
        .pager-wrapper
            width 100%
            position absolute
            z-index 103
            bottom 120px
            left 0
            font-size 0
            +tablet()
                bottom 25px
            +mobile()
                display none
            +above($tablet)
                .center
                    padding-left 45px
            a
                display inline-block
                width 8px
                height 8px
                border-radius 100%
                background $laranja
                transition background .3s
                &.cycle-pager-active
                    background #fff
                + a
                    margin-left 3px
    nav
        position absolute
        width 100%
        height 105px
        bottom 0
        left 0
        background rgba(#000, .5)
        display flex
        justify-content center
        align-items center
        font-size 0
        z-index 102
        a
            display inline-block
            opensans 18
            color #fff
            text-transform uppercase
            + a
                margin-left 30px
            &:hover
            &.active
                color $laranja
        +below($tablet)
            display none

.projetos-destaque
    background $cinzaClaro
    margin-top 55px
    padding 55px 0
    .center
        text-align center
        > h3
            montserrat 22 bold
            color $cinza
            margin 0 0 40px
            text-transform uppercase
            text-align center
        > a
            margin-top 10px
            display inline-block
            montserrat 16 semi
            color $texto
            border 1px solid $cinza
            padding 20px 25px
            transition background .3s, color .3s
            text-transform uppercase
            &:hover
                background $cinza
                color #fff
    +tablet()
        margin-top 40px
        padding 40px 0
        .center
            > h3
                font-size 20px
                margin 0 0 30px
            > a
                padding 18px 22px
                font-size 15px
    +mobile()
        margin-top 25px
        padding 30px 0
        .center
            > h3
                font-size 17px
                margin 0 0 20px
            > a
                padding 15px 20px
                font-size 14px
                margin-top 5px
    .projetos-thumbs
        margin-bottom 0
        text-align left
        + mobile()
            a
                width 100%
                max-width 310px
                margin 0 auto 15px
                float none
                &:nth-child(2n)
                &:nth-child(3n)
                    margin 0 auto 15px

.home
    .center
        clearfix()
    .servicos
    .home-texto
        width 50%
        float left
        +below($tablet)
            width 100%
    .servicos-lista
        background $laranja
        padding 60px 0
        span
            display block
            montserrat 20 semi
            color $texto
            text-transform uppercase
            padding-left 90px
            position relative
            + span
                margin-top 20px
            &:before
                content ''
                position absolute
                top 50%
                left 0
                width 60px
                height 2px
                background #fff
                margin-top -1px
        +tablet()
            padding 40px 0
            span
                font-size 18px
                padding-left 60px
                + span
                    margin-top 12px
                &:before
                    width 35px
        +mobile()
            padding 30px 0
            span
                font-size 16px
                padding-left 45px
                padding-right 20px
                + span
                    margin-top 10px
                &:before
                    width 25px
    .servicos-texto
        background $cinza
        clearfix()
        img
            width 210px
            display block
            float left
        div
            width calc('100% - 210px')
            float right
            padding 40px
            h3
                montserrat 20 bold
                color $laranja
                margin 0 0 1em
            p
                opensans 17
                color #fff
                margin 0
        +tablet()
            div
                padding 30px
                h3
                    font-size 18px
                p
                    font-size 15px
        +mobile()
            img
                float none
            div
                width 100%
                float none
                padding 25px
                h3
                    font-size 16px
                p
                    font-size 15px
    .home-texto
        .imagens
            clearfix()
            img
                display block
                width 50%
                float left
                max-width 300px
        .texto
            padding 55px 70px 0
            h2
                montserrat 22 semi
                color $texto
                margin 0 0 1em
                text-transform uppercase
            h3
                opensans 20
                font-style italic
                color $cinza
                margin 0 0 .6em
            p
                opensans 16
                color $cinza
            .btn-cotacao
                margin-top 10px
                display inline-block
                montserrat 16 semi
                color $laranja
                border 1px solid $laranja
                padding 20px 25px
                transition background .3s, color .3s
                text-transform uppercase
                &:hover
                    background $laranja
                    color #fff
            +tablet()
                padding 40px 0 10px
            +mobile()
                padding 25px 0 15px
                h2
                    font-size 18px
                h3
                    font-size 16px
                p
                    font-size 15px
                .btn-cotacao
                    padding 15px 20px
                    font-size 14px
                    margin-top 5px
