.projetos-thumbs
    clearfix()
    margin-bottom -15px
    a
        display block
        width calc('33.333% - 10px')
        float left
        margin-right 15px
        margin-bottom 15px
        position relative
        &:nth-child(3n)
            margin-right 0
        +mobile()
            width calc('50% - 8px')
            margin-right 16px
            margin-bottom 16px
            &:nth-child(3n)
                margin-right 16px
            &:nth-child(2n)
                margin-right 0
        img
            display block
            width 100%
        .overlay
            +below($tablet)
                display none
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba($laranja, .75)
            opacity 0
            transition opacity .3s
            padding 30px
            display flex
            flex-direction column
            justify-content flex-end
            color #000
            &:hover
                opacity 1
            h3
                montserrat 16 semi
                margin 0 0 8px
                text-transform uppercase
            p
                opensans 14
                margin 0

.hidden
    display none

.fancybox-title
    color #000
    h1
        montserrat 14 semi
        margin 0 0 5px
        text-transform uppercase
    p
        opensans 12
        margin 0
