.quem-somos
    .sobre
        clearfix()
        .texto
            opensans 16
            color $texto
            width 54.166%
            float left
            p:first-child
                margin-top 0
            p:last-child
                margin-bottom 0
            +below($tablet)
                font-size 15px
            +mobile()
                width 100%
        img
            display block
            width 38.333%
            float right
            +mobile()
                float left
                width 100%
                max-width 320px
                margin-top 25px
    .equipe
        background $cinzaClaro
        margin-top 75px
        padding 55px 0
        h2
            montserrat 22 bold
            color $cinza
            text-align center
            text-transform uppercase
            margin 0 0 1.2em
        .center
            clearfix()
        .destaque
        .normal
            > div
                clearfix()
            img
                display block
                border-radius 100%
                float left
            .texto
                float right
                color $texto
                h4
                    montserrat 16 bold
                    text-transform uppercase
                    margin 0 0 8px
                p
                    opensans 16
                    margin 0
        .destaque
            width 47.5%
            float left
            > div + div
                margin-top 40px
            img
                width 260px
            .texto
                width calc('100% - 300px')
                padding-top 90px
        .normal
            width 43.75%
            float right
            padding-top 70px
            > div + div
                margin-top 20px
            img
                width 120px
            .texto
                width calc('100% - 160px')
                padding-top 20px
        +tablet()
            margin-top 60px
            padding 40px 0
            h2
                font-size 20px
            .destaque
            .normal
                width 100%
        +mobile()
            margin-top 40px
            padding 35px 0
            h2
                font-size 18px
            .destaque
            .normal
                width 100%
            .destaque
                img
                    width 180px
                .texto
                    width 100%
                    padding-top 15px
                    h4
                    p
                        font-size 15px
                > div + div
                    margin-top 30px
            .normal
                padding-top 30px
                img
                    width 80px
                .texto
                    width calc('100% - 100px')
                    h4
                    p
                        font-size 15px
