.servicos
    .center
        clearfix()
    .texto
        width 40%
        float left
        p
            opensans 16
            color $texto
            margin 0
        img
            margin-top 60px
            border-radius 100%
            display block
            margin-left auto
            transform translateX(145px)
        +tablet()
            width 100%
            float none
            clearfix()
            p
                font-size 15px
                width 40%
                float left
            img
                width 40%
                float right
                margin-top -70px
                transform none
                max-width 260px
        +mobile()
            width 100%
            float none
            p
                font-size 15px
            img
                display none
    .circulo-wrapper
        width 56.25%
        float right
        position relative
        z-index 2
        +below($tablet)
            display none
        .circulo
            width 675px
            height 675px
            border-radius 100%
        .circulo-texto
            text-align center
            margin-top 30px
            h4
                montserrat 24 semi
                color $laranja
                margin 0 0 .5em
                text-transform uppercase
            p
                opensans 16
                color $texto
                margin 0 auto
                max-width 470px
    .servicos-mobile
        +above($tablet)
            display none
        clearfix()
        margin-top 40px
        > div
            width calc('50% - 30px')
            float left
            margin-right 60px
            margin-bottom 60px
            text-align center
            &:nth-child(2n)
                margin-right 0
            .icone
                display block
                width 180px
                height 180px
                background $laranja
                border-radius 100%
                margin 0 auto 15px
                display flex
                align-items center
                justify-content center
                &.icone-construcao
                    background $cinzaClaro
            h4
                montserrat 20 semi
                color $laranja
                margin 0 0 .5em
                text-transform uppercase
            p
                opensans 15
                color $texto
                margin 0 auto
                max-width 470px
        +mobile()
            margin-top 25px
            > div
                width 100%
                margin-right 0
                margin-bottom 35px
                text-align left
                .icone
                    width 150px
                    height 150px
                    margin 0 0 15px
                h4
                    font-size 17px
                p
                    font-size 14px
                    margin 0
    .diferenciais
        background $cinzaClaro
        margin-top 75px
        padding 55px 0
        .center
            text-align center
            h3
                montserrat 22 bold
                color $cinza
                margin 0 0 40px
                text-transform uppercase
                text-align center
        .diferenciais-lista
            clearfix()
            margin-bottom -70px
            div
                width calc('33.333% - 46.667px')
                float left
                text-align center
                margin-right 70px
                margin-bottom 70px
                &:nth-child(3n)
                    margin-right 0
                img
                    display block
                    margin 0 auto 30px
                    border-radius 100%
                    max-width 100%
                p
                    opensans 16
                    color $texto
                    margin 0
        +tablet()
            margin-top 40px
            padding 40px 0
            .center
                h3
                    font-size 20px
                    margin 0 0 30px
            .diferenciais-lista
                div
                    img
                        margin-bottom 20px
                        width 100%
                        max-width 180px
                    p
                        font-size 15px
        +mobile()
            margin-top 25px
            padding 30px 0
            .center
                h3
                    font-size 17px
                    margin 0 0 20px
            .diferenciais-lista
                margin-bottom -30px
                div
                    width calc('50% - 15px')
                    margin-right 30px
                    margin-bottom 30px
                    &:nth-child(3n)
                        margin-right 30px
                    &:nth-child(2n)
                        margin-right 0
                    img
                        margin-bottom 15px
                        width 100%
                        max-width 150px
                    p
                        font-size 14px

#infografico
    .st0
        fill #F0A000
	.st1
        fill #E26400
	.st2
        fill #FEFEFE
	.st3
        font-family 'Open Sans'
	.st4
        font-size 14.0367px
	.st5
        font-size 13.4151px
	.st6
        fill #636466
	.st7
        fill #FFFFFF
    .st8
        font-size 28.7464px
    .clickable
        cursor pointer
        transition all .3s
        transform-origin 50% 50%
        &:hover
        &.active
            transform scale(1.01)
            .st1
                fill darken(#E86122, 10)
        &.clickable-construcao
            .st0
                transition all .3s
                fill $cinza !important
                opacity .5
            &.active
            &:hover
                transform none
                .st0
                    fill #f0a000 !important
                    opacity 1
